* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  
}
html, body{
  background: radial-gradient(rgb(18, 0, 39), rgb(5, 5, 5));
}
.webgl
{
  position:absolute;
  top:0;
  left:0;
  outline:none;
  mix-blend-mode:normal;
}
.hcontainer 
{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 200px);
  background: radial-gradient(rgb(18, 0, 39), rgb(5, 5, 5));
}
.header
{
  position:relative;
  grid-row:1;
  grid-column: 1;
  margin: 10px;
  
}
.header h1 
{
  letter-spacing: 5px;
  position:relative;
  font-size: 50px;
  text-transform: uppercase;
  margin: 10px;
  color:rgba(36, 36, 37, 0.747);
  -webkit-text-stroke: 0.005vw rgb(8,8,8);
}
.header h1::before
{
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width:0;
  height: 100%;
  color: #ffffff;
  border-right: 2px solid #ff0077;
  overflow: hidden;
  animation: animate 6s linear infinite;
}
@keyframes animate
{
  0%,10%, 100%
  {
    width: 0;
  }
  70%, 90%
  {
    width: 100%;
  }
}

.About
{
  display:grid;
  grid-template-columns: repeat(5, 1fr);
  background-color: black;
}
.card 
{
  z-index: 10;
  grid-column: 2;
  background-color: rgba(255, 255, 255, 0.932);
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 1.6%;
  position: absolute;
  top: 92%;
  left: 20%;
  transform: translate(-50%, -50%);
  width: 100%;
  font-size: 20px;
  width: 450px;
}
.About span
{
text-transform: uppercase;
display: block;
}
.text1
{ 
  color:rgb(223, 202, 157);
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 8px;
  margin-bottom: 5px;
  position: relative;
  animation: text 3s 1;
}
.text2
{
  font-size: 30px;
  color: #e79aa7;
  

}
@keyframes text
{
  0%
  {
    color:black;
    margin-bottom: -10px;
  }
  30%
  {
    letter-spacing:20px;
    margin-bottom: -10px;
  }
  85%
  {
    letter-spacing: 8px;
    margin-bottom: -10px;
  }
}
.About_text
{
  color: rgb(0, 0, 0);
  margin-top: 10px;
}

.Notability
{
  padding-right: 40px;
  padding-bottom: 20px;
  padding-top: 50px;
  padding-left: 40px;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  
  background-color:rgb(36, 36, 36);
  
}
.Notability h1
{
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
  grid-column: 4 / 6;
  color: rgb(219, 219, 219);
  font-size: 50px;
  
}
.Notability h2
{
  text-align: center;
  grid-column: 4 / 6;
  grid-row: 2;
  color: rgb(133, 158, 170);
  font-size: 30px;
  padding-bottom: 10px;
}
.body1
{
  font-family: 'Courier New', monospace;
  background-color: rgba(59, 9, 53, 0.438);
  color: white;
  grid-column: 4;
  grid-row: 3;
  font-size: 16px;
  padding: 20px;
  /*border-style: solid ;
  border-radius: 1px;
  border-color: rgba(255, 0, 85, 0.068); */
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  height: 27vh;
  border-radius: 10%;
}
.body2
{
  font-family: 'Courier New', monospace;
  background-color: rgba(89, 90, 180, 0.295);
  color: white;
  grid-column: 5;
  grid-row: 3;
  font-size: 16px;
  padding: 20px;
  /*border-style: solid ;
  border-radius: 1px;
  border-color: rgba(126, 0, 151, 0.158); */
  margin-left: 5px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  height: 27vh;
  border-radius: 10%;
}
.img 
{
  opacity: 0.8;
  width: 423px;
  height: 673px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 1);
  grid-column: 2 / 3;
  grid-row: 3 / 5;
}


.info1
{
  font-family: 'Courier New', monospace;
  position: absolute;
  top: 120%;
  left: 4%;
  z-index: 10;
  border-radius: 50%;
  background-color:#e79aa78f;
  width: 350px;
  height: 350px;
  font-size: 15px;
  color: white;
  text-align: justify;
  padding: 55px;
}
.info2
{
  font-family: 'Courier New', monospace;
  position: absolute;
  top: 101%;
  left: 35%;
  z-index: 9;
  border-radius: 50%;
  background-color:#9aace76c;
  width: 260px;
  height: 260px;
  font-size: 14.5px;
  color: white;
  text-align: justify;
  padding: 33px;
  padding-top: 55px;
}
.info3
{
  font-family: 'Courier New', monospace;
  position: absolute;
  top: 128%;
  left: 41%;
  z-index: 9;
  border-radius: 50%;
  background-color:#d89ae76c;
  width: 290px;
  height: 270px;
  font-size: 15px;
  color: white;
  text-align: justify;
  padding: 33px;
  padding-top: 48px;
  padding-left: 40px;
}
.info4
{
  font-family: 'Courier New', monospace;
  position: absolute;
  top: 156%;
  left: 14%;
  z-index: 9;
  border-radius: 50%;
  background-color:#b836366c;
  width: 340px;
  height: 340px;
  font-size: 15px;
  color: white;
  text-align: justify;
  padding: 33px;
  padding-top: 65px;
  padding-left: 40px;
}
.info5
{
  font-family: 'Courier New', monospace;
  position: absolute;
  top: 205%;
  left: 46%;
  z-index: 9;
  border-radius: 50%;
  background-color:#c1eb2a56;
  width: 490px;
  height: 490px;
  font-size: 15px;
  color: white;
  text-align: justify;
  padding: 33px;
  padding-top: 110px;
  padding-left: 40px;
}
.info6
{
  text-align: center;
  font-family: 'Courier New', monospace;
  position: absolute;
  top: 175%;
  left: 60%;
  z-index: 9;
  border-radius: 50%;
  background-color:#00eeff59;
  width: 150px;
  height: 150px;
  font-size: 15px;
  color: white;
  padding: 33px;
  padding-top: 50px;
}
.Window
{
  grid-row: 5;
  grid-column: 1 / 6;
  padding-right: 85px;
  -webkit-mask-image: -webkit-gradient(linear, right top, left top, 
    from(rgba(0,0,0,1)), to(rgba(25, 3, 43, 0.178)));
  mask-image: url();  
}
.skew
{
  position: absolute;
  width: 200vh;
  background-image: linear-gradient( rgb(5, 5, 5),rgb(5,5,5));
  height: 300px;
  bottom: -70px;
  transform: skewY(-2deg);
  top: 270%;
}
.button1 
{
  background-color: orange;
  left: 85%;
  top: 265%;
  Position: absolute;
  padding: 15px 32px;
  z-index:10;
  text-align: center;
  cursor: pointer;
  border-radius: 25px;
  color: rgb(255, 255, 255);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
}
.button1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button1 span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button1:hover span {
  padding-right: 25px;
}

.button1:hover span:after {
  opacity: 1;
  right: 0;
}

.button1:hover {
  background-color:rgb(18, 0, 39);
  color: rgb(255, 255, 255);
}
.JavaFinch
{
  background-color: white;
  height: 100vh;
  width: 200vh;
}