:root
{
  --font1: 'Courier New', monospace;
  --font2:  Georgia, serif;
  --grey: rgb(175, 175, 175);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
html, body{
  background: radial-gradient(rgb(18, 0, 39), rgb(5, 5, 5));
}
.webgl
{
  position:absolute;
  top:0;
  left:0;
  outline:none;
  mix-blend-mode:normal;
}
.hcontainer
{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 200px);
  background: radial-gradient(rgb(18, 0, 39), rgb(5, 5, 5));
}
.header
{
  position:relative;
  grid-row:1;
  grid-column: 1;
  margin: 10px;

}
.header h1
{
  font-family: var(--font2);
  letter-spacing: 5px;
  position:relative;
  font-size: 50px;
  text-transform: uppercase;
  margin: 10px;
  color:rgba(36, 36, 37, 0.747);
  -webkit-text-stroke: 0.005vw rgb(8,8,8);
}
.header h1::before
{
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width:0;
  height: 100%;
  color: #ffffff;
  border-right: 2px solid #ff0077;
  white-space: nowrap;
  overflow: hidden;
  animation: animate1 6s steps(60, end);
}
@keyframes animate1
{
  0%,10%, 100%
  {
    width: 0;
  }
  /*70%, 90%
  {
    width: 100%;
  }*/
}

.About
{
  text-align: justify;
  font-family: var(--font1);
  display:grid;
  grid-template-columns: repeat(5, 1fr);
  background-color: black;
}
.card
{
  z-index: 10;
  grid-column: 2;
  background-color: rgba(255, 255, 255, 0.932);
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 1.6%;
  position: absolute;
  top: 92%;
  left: 20%;
  transform: translate(-50%, -50%);
  width: 100%;
  font-size: 18px;
  width: 450px;
}
.About span
{
font-family: var(--font1);
text-transform: uppercase;
display: block;
}
.text1
{
  font-weight: lighter;
  color:rgb(223, 202, 157);
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 8px;
  margin-bottom: 5px;
  position: relative;
  animation: text 3s 1;
}
.text2
{
  letter-spacing: 4px;
  font-weight: bold;
  font-size: 30px;
  color: #e79aa7;


}
@keyframes text
{
  0%
  {
    color:black;
    margin-bottom: -10px;
  }
  30%
  {
    letter-spacing:20px;
    margin-bottom: -10px;
  }
  85%
  {
    letter-spacing: 8px;
    margin-bottom: -10px;
  }
}
.About_text
{
  color: rgb(0, 0, 0);
  margin-top: 10px;
}

.Notability
{
  padding-right: 40px;
  padding-bottom: 20px;
  padding-top: 50px;
  padding-left: 40px;
  display: grid;
  grid-template-columns: repeat(5,1fr);

  background-color:rgb(36, 36, 36);

}
.Notability h1
{
  font-family: var(--font2);
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
  grid-column: 4 / 6;
  color: rgb(219, 219, 219);
  font-size: 50px;

}
.Notability h2
{
  text-align: center;
  grid-column: 4 / 6;
  grid-row: 2;
  color: rgb(133, 158, 170);
  font-size: 30px;
  padding-bottom: 10px;
}
.body1
{
  font-family: var(--font1);
  background-color: rgba(59, 9, 53, 0.438);
  color: white;
  grid-column: 4;
  grid-row: 3;
  font-size: 16px;
  padding: 20px;
  /*border-style: solid ;
  border-radius: 1px;
  border-color: rgba(255, 0, 85, 0.068); */
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  height: 29vh;
  border-radius: 10%;
}
.body2
{
  font-family: var(--font1);
  background-color: rgba(89, 90, 180, 0.295);
  color: white;
  grid-column: 5;
  grid-row: 3;
  font-size: 16px;
  padding: 20px;
  /*border-style: solid ;
  border-radius: 1px;
  border-color: rgba(126, 0, 151, 0.158); */
  margin-left: 5px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  height: 29vh;
  border-radius: 10%;
}
.img
{
  opacity: 0.8;
  width: 423px;
  height: 673px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 1);
  grid-column: 2 / 3;
  grid-row: 3 / 5;
}


.info1
{
  font-family: var(--font1);
  position: absolute;
  top: 120%;
  left: 4%;
  z-index: 10;
  border-radius: 50%;
  background-color:#e79aa78f;
  width: 350px;
  height: 350px;
  font-size: 15px;
  color: white;
  text-align: justify;
  padding: 55px;
}
.info2
{
  font-family: var(--font1);
  position: absolute;
  top: 101%;
  left: 35%;
  z-index: 9;
  border-radius: 50%;
  background-color:#9aace76c;
  width: 260px;
  height: 260px;
  font-size: 14.5px;
  color: white;
  text-align: justify;
  padding: 33px;
  padding-top: 55px;
}
.info3
{
  font-family: var(--font1);
  position: absolute;
  top: 128%;
  left: 41%;
  z-index: 9;
  border-radius: 50%;
  background-color:#d89ae76c;
  width: 290px;
  height: 270px;
  font-size: 15px;
  color: white;
  text-align: justify;
  padding: 33px;
  padding-top: 48px;
  padding-left: 40px;
}
.info4
{
  font-family: var(--font1);
  position: absolute;
  top: 156%;
  left: 14%;
  z-index: 9;
  border-radius: 50%;
  background-color:#b836366c;
  width: 340px;
  height: 340px;
  font-size: 15px;
  color: white;
  text-align: justify;
  padding: 33px;
  padding-top: 65px;
  padding-left: 40px;
}
.info5
{
  font-family: var(--font1);
  position: absolute;
  top: 205%;
  left: 46%;
  z-index: 9;
  border-radius: 50%;
  background-color:#c1eb2a56;
  width: 490px;
  height: 490px;
  font-size: 15px;
  color: white;
  text-align: justify;
  padding: 33px;
  padding-top: 110px;
  padding-left: 40px;
}
.info6
{
  text-align: center;
  font-family: var(--font1);
  position: absolute;
  top: 175%;
  left: 60%;
  z-index: 9;
  border-radius: 50%;
  background-color:#00eeff59;
  width: 150px;
  height: 150px;
  font-size: 15px;
  color: white;
  padding: 33px;
  padding-top: 50px;
}
.Window
{
  grid-row: 5;
  grid-column: 1 / 6;
  padding-right: 85px;
  -webkit-mask-image: -webkit-gradient(linear, right top, left top,
    from(rgba(0,0,0,1)), to(rgba(25, 3, 43, 0.178)));
  mask-image: url();
}
.skew
{
  position: absolute;
  width: 200vh;
  background-image: linear-gradient( rgb(5, 5, 5),rgb(5,5,5));
  height: 300px;
  bottom: -70px;
  transform: skewY(-2deg);
  top: 270%;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.5);
}
.button1
{
  background-color: orange;
  left: 85%;
  top: 265%;
  Position: absolute;
  padding: 15px 32px;
  z-index:10;
  text-align: center;
  cursor: pointer;
  border-radius: 25px;
  color: rgb(255, 255, 255);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
}
.button1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button1 span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button1:hover span {
  padding-right: 25px;
}

.button1:hover span:after {
  opacity: 1;
  right: 0;
}

.button1:hover {
  background-color:rgb(18, 0, 39);
  color: rgb(255, 255, 255);
}

.JavaFinch
{
  /*animation: animate 6s ease infinite; */
  /*background-color: rgb(35,35,35);*/
  /*background: radial-gradient(rgb(18, 0, 39), rgb(5, 5, 5));*/
  background: radial-gradient(rgb(35,35,35), rgb(0, 0, 0));
  width: 200vh;
  display:grid;
  grid-template-columns: repeat(5, 1fr);
  /*grid-template-rows: repeat(5, 1fr);*/
}
/*@keyframes animate
{
  0% {background-color: rgb(35,35,35);}
  50% {background-color: rgb(255, 255, 255);}
  100% {background-color: rgb(35,35,35);}
} */
.Jtitle
{
  color: rgb(0, 101, 168);
  font-weight: bold;
  font-family: var(--font2);
  text-align: right;
  grid-column: 4/6;
  grid-row: 1;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 50px;
  padding-right: 12%;
  padding-top: 10%;
  height: 200px;
}
.Jtitle2
{
  color: green;
  padding-right: 12%;
  text-align: right;
  grid-column: 4 / 6;
  grid-row: 2;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 20px;
}
.Jinfo1
{
  color:var(--grey);
  height: 290px;
  width: 360px;
  background-color: rgb(37,37,37);
  grid-column: 1;
  grid-row: 2 / 4;
  font-size: 20px;
  padding: 5%;
  margin-left: 10%;
  border-radius: 10%;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}
.Jinfo1 span
{
  color:green;
}
.Jinfo1 span1
{
  color:rgb(0, 115, 160);
}
.Jinfo1 span2
{
  color:rgba(255, 251, 0, 0.801);
}
.Jarrow1
{
  padding-left: 45%;
  grid-column: 2;
  grid-row: 2 / 4;
  align-items: center;
  font-size: 220px;
  color: white;
  text-shadow: 10px 10px rgb(0, 0, 0);
}
.Jinfo2
{
  color:var(--grey);
  height: 280px;
  background-color: rgb(37,37,37);
  grid-column: 3;
  grid-row: 2 / 4;
  font-size: 20px;
  padding: 5%;
  margin-left: 10%;
  border-radius: 10%;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}
.Jinfo2 span
{
  color: rgba(255, 251, 0, 0.801);
}
.Jinfo2 span1
{
  color:green;
}
.Jinfo2 span2
{
  color:rgb(0, 194, 178);
}

.Jarrow2
{
  padding-top: 20%;
  padding-left: 45%;
  grid-column: 4;
  grid-row: 2 / 4;
  align-items: center;
  font-size: 220px;
  color: white;
  text-shadow: 10px 10px rgb(0, 0, 0);
  transform: rotate(35deg);
  -webkit-transform: rotate(35deg);
}
.Jinfo3
{
  color:var(--grey);
  height: 280px;
  background-color: rgb(37,37,37);
  grid-column: 5;
  grid-row: 4 / 6;
  font-size: 20px;
  padding: 5%;
  margin-right: 20%;
  margin-left: -10%;
  border-radius: 10%;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}
.Jarrow3{
  padding-top: 20%;
  padding-left: 40%;
  grid-column: 5;
  grid-row:  6 / 7;
  align-items: center;
  font-size: 220px;
  color: white;
  text-shadow: 10px 10px rgb(0, 0, 0);
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}
.Jinfo3 span
{
  color: rgba(255, 251, 0, 0.801);
}
.Jinfo3 r
{
  color: rgba(201, 82, 82, 0.801);
}
.Jinfo3 bl
{
  color: rgba(82, 130, 201, 0.801);
}
.Jinfo3 g
{
  color: rgba(102, 201, 82, 0.801);
}
.Jinfo3 bl2
{
  color: rgba(82, 177, 201, 0.801);
}
.Jinfo3 if
{
  color: rgba(214, 121, 0, 0.801);
}
.Jinfo4{
  color:var(--grey);
  height: 320px;
  width: 380px;
  background-color: rgb(37,37,37);
  grid-column: 5;
  grid-row: 7;
  font-size: 20px;
  padding: 5%;
  margin-top: -10%;
  margin-right: 20%;
  margin-left: -20%;
  border-radius: 10%;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}
.Jinfo4 bl2
{
  color: rgba(82, 177, 201, 0.801);
}
.Jinfo4 span
{
  color: rgba(255, 251, 0, 0.801);
}
.Jinfo4 span1
{
  color: rgb(73, 138, 192);
}
.Jinfo4 span2
{
  color:rgb(0, 255, 234)
}
.Jinfo4 if
{
  color: rgba(214, 121, 0, 0.801);
}
.Jarrow4{
  padding-top: 10%;
  padding-left: 50%;
  grid-column: 4;
  grid-row:  7 / 9;
  align-items: center;
  font-size: 220px;
  color: white;
  text-shadow: 10px 10px rgb(0, 0, 0);
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}
.Jinfo5{
  color:var(--grey);
  height: 280px;
  background-color: rgb(37,37,37);
  grid-column: 3;
  grid-row: 7;
  font-size: 20px;
  padding: 5%;
  margin-top: -10%;
  margin-left: 10%;
  border-radius: 10%;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}
.Jinfo5 bl2
{
  color: rgba(82, 177, 201, 0.801);
}
.Jinfo5 span
{
  color: rgba(255, 251, 0, 0.801);
}
.Jinfo5 span1
{
  color: rgb(73, 138, 192);
}
.Jinfo5 span2
{
  color:rgb(0, 255, 234)
}
.Jinfo5 if
{
  color: rgba(214, 121, 0, 0.801);
}
.Jinfo5 g
{
  color:rgb(0, 206, 0);
}
.Jarrow5{
  padding-top: 10%;
  padding-left: 40%;
  grid-column: 2;
  grid-row:  7;
  align-items: center;
  font-size: 220px;
  color: white;
  text-shadow: 10px 10px rgb(0, 0, 0);
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}
.Jinfo6{
  color:var(--grey);
  height: 280px;
  background-color: rgb(37,37,37);
  grid-column: 1;
  grid-row: 7;
  font-size: 20px;
  padding: 5%;
  margin-top: -10%;
  margin-left: 10%;
  border-radius: 10%;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}
.Jinfo6 span
{
  color: rgba(255, 251, 0, 0.801);
}
.Jinfo6 span1
{
  color: rgb(137, 175, 0);
}
.Finch
{
  animation: animate 5s linear infinite;
  grid-column: 4;
  grid-row: 5;
}
@keyframes animate
{
  0%{grid-column: 4; grid-row: 5;}
  10%{grid-column: 3; grid-row: 5;}
  20%{grid-column: 2; grid-row: 5;}
  30%{grid-column: 3; grid-row: 5;}
  40%{grid-column: 2; grid-row: 5;}
  50%{grid-column: 1; grid-row: 5;}
  60%{grid-column: 2; grid-row: 5;}
  70%{grid-column: 1; grid-row: 5;}
  80%{grid-column: 2; grid-row: 5;}
  90%{grid-column: 3; grid-row: 5;}
  100%{grid-column: 4; grid-row: 5;}
}
